:root {
  border: 3px solid transparent;
  background-color: #7a0035;
}

nav ul {
  text-align: center;
  padding-top: 1px;
  position: absolute;
}

nav ul li {
  display: inline-block;
}

li {
  margin-bottom: .8rem;
  text-align: center;
  font-size: 16px;
  font-family: 'Open sans', sans-serif;
  color: #fc8f31;
  bottom: -20px;
}

a {
  color: #fc8f31;
  font-size: 16px;
  font-family: 'Open sans', sans-serif;
  border-radius: 4px;
  padding: 4px;
}

h1 {
  text-align: center;
  color: #fc8f31;
  font-family: 'BhuTuka Expanded One', cursive;
  background-color: #1a3c29;
  padding: 5px;
  width: auto;
}

.seconde {
  display: block;
  color: #fc8f31;
  font-size: 16px;
  font-family: 'Open sans', sans-serif;
  text-align: center;
  margin-top: 279px;
  background-color: #1a3c29;
  padding: 10px;
}

.about {
  display: block;
  color: #fc8f31;
  font-size: 16px;
  font-family: 'Open sans', sans-serif;
  text-align: center;
  margin-top: 50px;
}

html {
  border-color: #7a0035;
}

img {
  height: 350px;
  width: 300px;
  float: center;
}

div {
  display: flex;
  margin-bottom: 26px;
  justify-content: center;
  gap: 150px;
}

.pageone {
  position: absolute;
  background-image: url('../img/space.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
}
