h1{
    text-align: center;
    color:#ABF4FF;
}

li {
    margin-bottom: .8rem;
    text-align: center;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    color:#ABF4FF;
    position:relative; bottom: -20px;
}

a{
    color:white;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    
}

h1{
    text-align: center;
    color:#ABF4FF;
}

p{
    display:block;
    color:#ABF4FF;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    position: relative; top:-250px;
}