body {
  background: #EB8818;
  margin: auto;
}

header {
  font-family: 'Roboto Slab',fantasy;
  background: black;
  color: #D6D3BF;
  margin-top: 0px;
}

nav {
  font-family: sans-serif;
  margin-left: 10px;
}

main {
  font-family: 'Work Sans', cursive;
  margin: 35px;
}

p {
  color: black;
  margin-right: 600px;
}

h1 {
  font-weight: bold;
}

.head-img{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 600px;
}

.img{
 display: block;
 margin-right: auto;
 width: 600px;
}
